.dropdown-item:hover {
    background-color: #D23D43;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    
}