.dropdown-item:hover {
    background-color: #D23D43;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    
}