.dropdown-item:hover {
    background-color: #E74C3C;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    
}

.text-white {
	margin: 0px;
}

img.partenaires {
	width: 30%;
}

div.main {
	min-height: 100vh;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}